body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f3e7dc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  border-radius: 3rem;
  padding: 1rem;
  margin: 3rem;
  /* width: 60rem; */
  width: 70%;
  display: inline-block;
  background-color: #F28F3B;
  color: white;
}

.banner {
  background-color: #F28F3B;
  height: 60vh;
  overflow: hidden;
  text-align: center;
  /* background: linear-gradient(#F28F3B, white); */
}

.banner > img {
  height: 60vh;
}

.header {
  background-color: #F28F3B;
  font-size: 3rem;
  color: white;
  border-style: solid;
  border-width: 1rem;
}

.Sub {
  font-size: 1.5rem;
}

.Container {
  text-align: center;
}

.Primary-Button {
  background-color: #C8553D;
  height: 3rem;
  width: 15rem;
  border-radius: 5rem;
  color: white;
  font-size: 1.5rem;
  border-color: #C8553D;
}

.FillBox {
  border-radius: 5rem;
}

.ProfileBox {
  background-color: #F28F3B;
  border-radius: 2rem;
  padding: 2rem;
  padding-left: 3rem;
  width: 70%;
}

.tag {
  width:fit-content;
  display:inline-flex;
  margin: 4px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  border-radius: 1rem;
}

.tag > p {
  margin-top: 5px;
  margin-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
